src/Win/res/AgilityRecordBook.dtd

<!--
An AgilityRecordBook file is made up of 2 main sections, the
configuration area, and the dog's runs. Multiple dogs may be
contained within a file, as this DTD defines below.

In general, all fields are free form. Exceptions will be noted.
 All date attributes are in the form "YYYY-MM-DD".

Revision History:
2004-02-09 DRC File version 8.3
               Added "ExistingPoints" to "Dog"
2004-01-21 DRC File version 8.2
               Added "LongName" to "Titles"
               Added "Action" to "Configuration"
2003-12-28 DRC File version 8.1
               Added "ValidFrom","ValidTo" to "Scoring"
2003-12-13 DRC File version 8.0
2003-10-15 DRC File version 7
2003-09-21 DRC File version 6
2003-07-16 DRC File version 5
2003-06-15 DRC File version 4
2003-06-02 DRC File version 3
2003-02-21 DRC File version 2
2002-12-28 DRC File version 1
-->

<!--
 Book is a simple integer in versions 1 thru 7.
 It then changes to a more complex value ("major.minor"), starting with "8.0"
-->
<!ELEMENT AgilityBook (Calendar*, Training*, Configuration, Info?, Dog*) >
	<!ATTLIST AgilityBook Book CDATA #REQUIRED >

<!--
This section defines the rules for the calendar cribsheet.
 Entered: E==Entered, P==Planning, N==Not
-->
<!ELEMENT Calendar (#PCDATA) >
	<!ATTLIST Calendar
		DateStart CDATA #REQUIRED
		DateEnd CDATA #REQUIRED
		DateOpening CDATA #IMPLIED
		DateClosing CDATA #IMPLIED
		isTentative (y|n) 'n'
		Location CDATA #REQUIRED
		Club CDATA #REQUIRED
		Venue CDATA #REQUIRED
		Entered (E|P|N) 'N'
		>

<!--
This section defines the rules for the training log.
-->
<!ELEMENT Training (#PCDATA) >
	<!ATTLIST Training
		Date CDATA #REQUIRED
		Name CDATA #IMPLIED
		>

<!--
This section defines the rules of each venue.
-->
<!ELEMENT Configuration (Action*, Venue*, FaultType*, OtherPts*) >

<!--
This is a special element that is applied to the old configuration before
we import the new one (where this resides). Currently, it is used only
for renaming titles.
 Verb: Supported actions (determines usage of other attributes):
  'RenameTitle':
    Venue: Venue that contains title
    OldName: Title to be renamed.
    NewName: New name.
 pcdata: currently unused, defined to allow future expansion.
-->
<!ELEMENT Action (#PCDATA) >
	<!ATTLIST Action
		Verb CDATA #REQUIRED
		Venue CDATA #IMPLIED
		OldName CDATA #IMPLIED
		NewName CDATA #IMPLIED
		>

<!--
There will be a number of Fault Types that are pre-defined. But in general,
this will be a user defined field for their own tracking purposes.
-->
<!ELEMENT FaultType (#PCDATA) >

<!--
OtherPts is used to enable things like breed points and USDAA
top-ten points. The 'Count' value is how they are accumulated
(points will be totalled by year/lifetime):
  All: Tally all points in every event at all levels
  AllByEvent: Tally points by event, but include all levels
  Level: Tally all events, by level. (this infers by division too)
  LevelByEvent: Tally events and levels separately.
 The PCDATA content of the element is it's description.
-->
<!ELEMENT OtherPts (#PCDATA) >
	<!ATTLIST OtherPts
		Name CDATA #REQUIRED
		Count (All|AllByEvent|Level|LevelByEvent) #REQUIRED
		>

<!ELEMENT Venue (Desc?, Division+, Event+) >
	<!ATTLIST Venue Name CDATA #REQUIRED >
<!ELEMENT Desc (#PCDATA) >

<!--
-->
<!ELEMENT Division (Level+, Titles*) >
	<!ATTLIST Division Name CDATA #REQUIRED >
<!ELEMENT Titles (#PCDATA) >
	<!ATTLIST Titles Name CDATA #REQUIRED >
	<!ATTLIST Titles LongName CDATA #IMPLIED >

<!--
Rules for levels are based on the level name. A level may be
broken into sublevels, for instance "Novice A" and "Novice B".
AKC's ExA and ExB should be treated as distinct levels, since
you title in each one, unlike the novice levels.
-->
<!ELEMENT Level (SubLevel*) >
	<!ATTLIST Level Name CDATA #REQUIRED >
<!ELEMENT SubLevel EMPTY >
	<!ATTLIST SubLevel Name CDATA #REQUIRED >

<!--
The biggest difference in events is in how they are scored. These
are the types of scoring recognized:
 FaultsThenTime    Accumulate faults.
 Faults100ThenTime Subtract faults from 100 and round time faults.
 Faults200ThenTime Subtract faults from 200 and round time faults.
 OCScoreThenTime   Must have a required number of opening and closing pts.
 ScoreThenTime     Must have a required number of pts.
 TimePlusFaults    Score by adding faults and time together.

The 'Division' and 'Level' attributes should enumerate all possible
levels listed in the Division elements (remember a level is 'Level',
not 'SubLevel'). The name may be '*' which will be the default. If not
enumerated, the event will not be offered for that division/level pair.

'dropFractions' means that when computing time faults, fractions are
dropped. (AKC and CPE do this.)

The 'superQ', 'doubleQ' and 'machPts' attributes enable built-in
features for an event. If 'doubleQ' is enabled, the program will
automatically determine if a double Q occurs on a given date.

Entries in 'TitlePoints' determines if a Q should/not be awarded. When
data is entered in the program, the program will perform certain tests.
If it thinks you should/not Q and you enter data differently,
it will ask if you really mean that.

If there are no 'TitlePoints', then the class is non-titling.

 Integer: OpeningPts,ClosingPts,Points,Faults
-->
<!ELEMENT Event (Desc?, Scoring+) >
	<!ATTLIST Event
		Name CDATA #REQUIRED
		hasPartner (y|n) 'n'
		>
<!ELEMENT Scoring (Note?, TitlePoints*) >
	<!ATTLIST Scoring
		ValidFrom CDATA #IMPLIED
		ValidTo CDATA #IMPLIED
		Division CDATA #REQUIRED
		Level CDATA #REQUIRED
		type (FaultsThenTime|Faults100ThenTime|Faults200ThenTime|OCScoreThenTime|ScoreThenTime|TimePlusFaults) #REQUIRED
		dropFractions (y|n) 'n'
		superQ (y|n) 'n'
		doubleQ (y|n) 'n'
		machPts (y|n) 'n'
		OpeningPts CDATA #IMPLIED
		ClosingPts CDATA #IMPLIED
		>
<!ELEMENT TitlePoints EMPTY >
	<!ATTLIST TitlePoints
		Points CDATA #REQUIRED
		Faults CDATA #REQUIRED
		>

<!--
This section adds optional data.
Currently the only thing it tracks is comments about a judge.
-->

<!ELEMENT Info (JudgeInfo*) >
<!-- The pcdata is the comment about the judge -->
<!ELEMENT JudgeInfo (#PCDATA) >
	<!ATTLIST JudgeInfo
		Name CDATA #REQUIRED
		>

<!--
This section defines a dog's runs. The way the data is interpretted
depends on how a venue has been defined above.
 Date: DOB,Deceased
 Height is free form - this allows for NADACs "20+" height.
 ExistingPoints allows setting an initial value for points earned at a certain
  level. This way, you don't have to have all trial information for older dogs.
-->

<!ELEMENT Dog (RegisteredName?, Breed?, Note?, ExistingPoints*, RegNum*, Title*, Trial*) >
	<!ATTLIST Dog
		CallName CDATA #REQUIRED
		DOB CDATA #IMPLIED
		Deceased CDATA #IMPLIED
		>
<!ELEMENT RegisteredName (#PCDATA) >
<!ELEMENT Breed (#PCDATA) >
<!ELEMENT Note (#PCDATA) >
<!--
 Type: [required items..]
  'Other': Other Points [Other, Venue, Div, Level, Event]
  'Run': Runs           [       Venue, Div, Level, Event]
  'Mach': Mach points   [       Venue, Div, Level]
  'QQ': Double Q        [       Venue, Div, Level]
  'SQ': Super Q         [       Venue, Div, Level, Event]
-->
<!ELEMENT ExistingPoints (#PCDATA) >
	<!ATTLIST ExistingPoints
		Date CDATA #REQUIRED
		Type CDATA #REQUIRED
		Other CDATA #IMPLIED
		Venue CDATA #IMPLIED
		Div CDATA #IMPLIED
		Level CDATA #IMPLIED
		Event CDATA #IMPLIED
		Pts CDATA #REQUIRED
		>
<!ELEMENT RegNum (#PCDATA) >
	<!ATTLIST RegNum
		Venue CDATA #REQUIRED
		Height CDATA #IMPLIED
		isReceived (y|n) 'n'
	>
<!ELEMENT Title EMPTY >
	<!ATTLIST Title
		Date CDATA #REQUIRED
		Venue CDATA #REQUIRED
		Name CDATA #REQUIRED
		isReceived (y|n) 'n'
	>

<!-- Entries in the file are grouped by trial. -->
<!ELEMENT Trial (Location?, Note?, Club+, Run*) >
	<!ATTLIST Trial Verified (y|n) 'n' >

<!ELEMENT Location (#PCDATA) >

<!--
Multiple clubs are allowed for co-sanctioned matches, such as NADAC/ASCA.
The 'Venue' must be defined above in a Configuration/Venue element.
-->
<!ELEMENT Club (#PCDATA) >
	<!ATTLIST Club Venue CDATA #REQUIRED >

<!--
The attributes 'Division' and 'Event' must be defined above in a
Configuration/Venue element. The 'Level' attribute is defined in either
a Level or SubLevel element.
-->
<!ELEMENT Run (Conditions?, Judge, Handler?, Partner*, (ByTime | ByOpenClose | ByPoints), Placement?, Notes?, ReferenceRun*) >
	<!ATTLIST Run
		Date CDATA #REQUIRED
		Division CDATA #REQUIRED
		Level CDATA #REQUIRED
		Height CDATA #IMPLIED
		Event CDATA #REQUIRED
		>

<!ELEMENT Conditions (#PCDATA) >
<!ELEMENT Judge (#PCDATA) >
<!ELEMENT Handler (#PCDATA) >

<!--
The '*' on Partner allows for 3 dogs relays, etc. This element may only be
specified if the 'hasPartner' attribute on the event is true.
-->
<!ELEMENT Partner EMPTY >
	<!ATTLIST Partner
		Handler CDATA #REQUIRED
		Dog CDATA #REQUIRED
		RegNum CDATA #IMPLIED
	>

<!--
These 3 elements define the major scoring mechanisms.
 ByTime: FaultsThenTime, Faults100ThenTime, Faults200ThenTime, TimePlusFaults
  When used by 'TimePlusFaults', SCT and Yards are not required. If
  specified, then it is assumed time faults are also tallied.
 ByOpenClose: OCScoreThenTime
 ByPoints: ScoreThenTime

 Integer: CourseFaults,NeedOpenPts,NeedClosePts,OpenPts,ClosePts,NeedPts,Points
 Decimal: Time,SCT,Yards
 Boolean: TableInYPS
-->
<!ELEMENT ByTime EMPTY >
	<!ATTLIST ByTime
		CourseFaults CDATA #REQUIRED
		Time CDATA #REQUIRED
		SCT CDATA #IMPLIED
		Yards CDATA #IMPLIED
		TableInYPS (y|n) 'y'
		>
<!ELEMENT ByOpenClose EMPTY >
	<!ATTLIST ByOpenClose
		CourseFaults CDATA #IMPLIED
		Time CDATA #REQUIRED
		NeedOpenPts CDATA #REQUIRED
		NeedClosePts CDATA #REQUIRED
		OpenPts CDATA #REQUIRED
		ClosePts CDATA #REQUIRED
		>
<!ELEMENT ByPoints EMPTY >
	<!ATTLIST ByPoints
		CourseFaults CDATA #IMPLIED
		Time CDATA #REQUIRED
		NeedPts CDATA #REQUIRED
		Points CDATA #REQUIRED
		>

<!--
 Integer: Place,InClass,DogsQd,Points
-->
<!ELEMENT Placement (OtherPoints*) >
	<!ATTLIST Placement
		Q (NA|SQ|Q|NQ|E) 'NA'
		Place CDATA #REQUIRED
		InClass CDATA #IMPLIED
		DogsQd CDATA #IMPLIED
	>
<!ELEMENT OtherPoints EMPTY >
	<!ATTLIST OtherPoints
		Name CDATA #REQUIRED
		Points CDATA #REQUIRED
		>

<!ELEMENT Notes (Faults*, CRCD?, Other?) >
<!ELEMENT Faults (#PCDATA) >
<!ELEMENT CRCD (#PCDATA) >
<!ELEMENT Other (#PCDATA) >

<!--
The meaning of ScoreOrFaults is dependent on the type of run. These
entries are just for reference, hence the data is not interpreted.
 Integer: Place
 Decimal: Time
-->
<!ELEMENT ReferenceRun (Name, Breed?, ScoreOrFaults?, Note?) >
	<!ATTLIST ReferenceRun
		Q (NA|SQ|Q|NQ|E) 'NA'
		Place CDATA #REQUIRED
		Time CDATA #IMPLIED
	>
<!ELEMENT Name (#PCDATA) >
<!ELEMENT ScoreOrFaults (#PCDATA) >
